Aim:
Use the following dataset and classify tweets into positive and negative tweets.
https://www.kaggle.com/ruchi798/data-science-tweet

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('https://github.com/satyajeetkrjha/kaggle-Twitter-US-Airline-Sentiment-/blob/3917cf4dd82acd1604b497d6001a9ea65e2a4b6d/Tweets.csv')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 28, saw 367

In [3]:
df

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative
...,...,...,...,...
27476,4eac33d1c0,wish we could come see u on Denver husband l...,d lost,negative
27477,4f4c4fc327,I`ve wondered about rake to. The client has ...,", don`t force",negative
27478,f67aae2310,Yay good for both of you. Enjoy the break - y...,Yay good for both of you.,positive
27479,ed167662a5,But it was worth it ****.,But it was worth it ****.,positive
27480,6f7127d9d7,All this flirting going on - The ATG smiles...,All this flirting going on - The ATG smiles. Y...,neutral

In [4]:
df.shape

(27481, 4)

In [5]:
df = pd.read_csv('tweets.csv',nrows = 10000)

In [6]:
df

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative
...,...,...,...,...
9995,9e6bab2198,Just got bullied by Dillah. HELP!,bullied,negative
9996,29ffa4dfad,what lol?,what lol?,neutral
9997,4eb36fc6ac,Some days you must look hard for that good th...,you must look hard for that good thing.,positive
9998,c96c82bebb,"i`m so worn out, this week has sped by soo fas...","i`m so worn out,",negative
9999,4234ca4536,Lookin` at spreadsheets so long my eyes are cr...,my eyes are crossing...,negative

In [7]:
df.shape

(10000, 4)

In [10]:
sent = 'Hii, Where are you?'

In [11]:
import string

In [12]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [13]:
count = sum([1 for x in sent if x in string.punctuation])

In [14]:
per = count/(len(sent)-sent.count(' '))

In [15]:
per

0.125

In [16]:
import string

In [17]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [21]:
def count_punct(sent):
    count = sum([1 for x in sent if x in string.punctuation])
    p = round(count/(len(sent)-sent.count(' '))*100,2)
    return p

In [22]:
count_punct(sent)

12.5

In [24]:
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
ps = PorterStemmer()

In [25]:
s_words = stopwords.words('english')

In [26]:
#analyser function
def clean_text(text):
    data = [x for x in text if x not in string.punctuation]
    data = ''.join(data)
    data = [ps.stem(x) for x in data.split() if x not in s_words]
    return data

In [27]:
clean_text(sent)

['hii', 'where']