In [1]:
import pandas as pd

In [2]:
import numpy as np

In [7]:
df = pd.read_csv('https://query.data.world/s/hkgtwha5bibgaxwteuma3mlzgei2zv?dws=00000')

In [9]:
df = df.head(10)
df

,FOOD NAME,SCIENTIFIC NAME,GROUP,SUB GROUP
0,Angelica,Angelica keiskei,Herbs and Spices,Herbs
1,Savoy cabbage,Brassica oleracea var. sabauda,Vegetables,Cabbages
2,Silver linden,Tilia argentea,Herbs and Spices,Herbs
3,Kiwi,Actinidia chinensis,Fruits,Tropical fruits
4,Allium (Onion),Allium,Vegetables,Onion-family vegetables
5,Garden onion,Allium cepa,Vegetables,Onion-family vegetables
6,Leek,Allium porrum,Vegetables,Onion-family vegetables
7,Garlic,Allium sativum,Herbs and Spices,Herbs
8,Chives,Allium schoenoprasum,Herbs and Spices,Herbs
9,Lemon verbena,Aloysia triphylla,Herbs and Spices,Herbs

In [10]:
df.isnull()

   FOOD NAME  SCIENTIFIC NAME  GROUP  SUB GROUP
0      False            False  False      False
1      False            False  False      False
2      False            False  False      False
3      False            False  False      False
4      False            False  False      False
5      False            False  False      False
6      False            False  False      False
7      False            False  False      False
8      False            False  False      False
9      False            False  False      False

In [11]:
df.describe()

       FOOD NAME   SCIENTIFIC NAME             GROUP SUB GROUP
count         10                10                10        10
unique        10                10                 3         4
top     Angelica  Angelica keiskei  Herbs and Spices     Herbs
freq           1                 1                 5         5

In [12]:
df.size

40

In [13]:
df.shape

(10, 4)

In [14]:
df.ndim

2

In [15]:
dataTypeSeries = df.dtypes

In [16]:
print("Data Type of Each column of DataFrame is: ")
print(dataTypeSeries)

Data Type of Each column of DataFrame is:
FOOD NAME          object
SCIENTIFIC NAME    object
GROUP              object
SUB GROUP          object
dtype: object

In [17]:
df.head(10)

,FOOD NAME,SCIENTIFIC NAME,GROUP,SUB GROUP
0,Angelica,Angelica keiskei,Herbs and Spices,Herbs
1,Savoy cabbage,Brassica oleracea var. sabauda,Vegetables,Cabbages
2,Silver linden,Tilia argentea,Herbs and Spices,Herbs
3,Kiwi,Actinidia chinensis,Fruits,Tropical fruits
4,Allium (Onion),Allium,Vegetables,Onion-family vegetables
5,Garden onion,Allium cepa,Vegetables,Onion-family vegetables
6,Leek,Allium porrum,Vegetables,Onion-family vegetables
7,Garlic,Allium sativum,Herbs and Spices,Herbs
8,Chives,Allium schoenoprasum,Herbs and Spices,Herbs
9,Lemon verbena,Aloysia triphylla,Herbs and Spices,Herbs